<div th:include="/layout/header"></div>
<style>
html, body {
	background: #fff;
}
</style>

<div class="dual-list-box-area mg-b-15">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="sparkline10-list shadow-reset">
					<div class="sparkline10-hd">
						<div class="main-sparkline10-hd">
							<h1>Add Image  </h1>
						</div>
					</div>
					<div class="sparkline10-graph">
						<form action="addImage" id="quickForm" method="POST" th:object="${slideshow}"
							enctype="multipart/form-data">
							<div class="basic-login-form-ad">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="dual-list-box-inner">
											<div class="row">
												<div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
													<div class="image-crop">
														<img th:src="@{/img/cropper/1.jpg}" alt="">
													</div>
												</div>
												<div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
													<div class="preview-img-pro-ad">
														<div class="img-croper-fl">
															<div class="img-crop-img-rd">
																<h4>Preview image</h4>
																<div class="img-preview img-preview-custom"></div>
															</div>
															<div class="common-pre-dz">
																<h4 class="comon-method">Comon method</h4>
																<p>You can upload new image to crop.</p>
																<div class="btn-group images-cropper-pro">
																	<label title="Upload image file" for="inputImage"
																		class="btn btn-primary img-cropper-cp"> <input
																		type="file" accept="image/*" name="file"
																		id="inputImage" required> Upload new image
																	</label>
																	<span class="validation-message" id="msg" style="color:red;"></span>
																</div>
															</div>
														</div>
														
														<div class="btn-group images-action-pro">
															<button class="btn btn-white" id="zoomIn" type="button">Zoom
																In</button>
															<button class="btn btn-white" id="zoomOut" type="button">Zoom
																Out</button>
															<button class="btn btn-white" id="rotateLeft"
																type="button">Rotate Left</button>
															<button class="btn btn-white" id="rotateRight"
																type="button">Rotate Right</button>
															<button class="btn btn-warning img-cropper-cp-t"
																id="setDrag" type="button">New crop</button>
														</div>
														<br><br>
														<div class="form-group">
															<input type="text"
																name="imageName" class="form-control" id="imageName"
																placeholder="Enter Image name"> 
																<span class="validation-message" id="messages" style="color:red;"></span>
														</div>
														<br>
														<br>
														<button type="button"  id="change" onclick="confirm_update()" class="btn btn-primary btn-block">Submit</button>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
<div th:include="/layout/footer"></div>
<script type="text/javascript">
	$(document).ready(function(){
	$(inputImage).change(function(event){
	var txtinputImage=$(this).val();
	if(txtinputImage.length !=0){
	$('#msg').html(" ");
	}
	});
	$(imageName).change(function(event){
	var txtimageName=$(this).val();
	if(txtimageName.length !=0){
	$('#messages').html(" ");
	}
	});
	});
	function confirm_update() {
		var x= $('#inputImage').val();
		
		var data = $('#imageName').val();
		if(x == ""){
		$('#msg').text("*Please Select Image");
		}
		if (data == "") {
			$('#messages').text("*Please Enter Image Name");
		} else {
			$('#change').attr('disabled', 'disabled');
			$('#quickForm').submit();
		}
	}
</script>

