<div th:include="/layout/header"></div>
<style>
html, body {
    background: #fff;
}
hr {
    margin-top: 10;
}
     
</style>

		<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Notification Details : <hr></hr></h3>
							<br><br>
						</div>
						<form role="form" id="quickForm" th:object="${notifications}"
							th:action="@{../updateNotify}" method="POST">
						<div class="card-body">
					<input type="hidden" name="id" th:value="${notifyInfo.id}">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="notifyInfo">Message :</label>
						</div>
						<div class="col-sm-8">
							<input id="message" type="text" name="message"
								th:value="${notifyInfo.message}" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-3">
							<label for="notifyInfo">Type :</label>
						</div>
						<div class="col-sm-8">
							<input id="type" type="text" name="type"
								th:value="${notifyInfo.type}" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="notifyInfo">Date-Time :</label>
						</div>
						<div class="col-sm-8">
							<input id="createdAt" type="text" name="createdAt"
								th:value="${notifyInfo.createdAt}" class="form-control">
						</div>
					</div>
					<div class="card-footer" style="margin-left: 515;">
								<button type="button" id="change" onclick="confirm_update()"
									class="btn btn-primary">Update</button>
								<button type="reset" class="btn btn-warning mr-2">Reset</button>
							</div><br><br><br><br>
						
				</div>
				</form>
					</div>
					
				</div>
				<div class="col-md-6"></div>
			</div>
			
	</div>
	</div>
<div th:include="/layout/footer"></div>
<script type="text/javascript">
	function confirm_update() {
	alert();
		var data1 = $('#message').val();
		var data2 = $('#type').val();
		var data3 = $('#createdAt').val();
		if (data1 == "") {
			$('#messages').text("*Please Enter Message");
		}
		if (data2 == "") {
			$('#type').text("*Please Enter Type");
			}
		if (data3 == "") {
			$('#createdAt').text("*Please Enter Date & Time");
			} else {
			$('#change').attr('disabled', 'disabled');
			$('#quickForm').submit();
		}
	}
</script>
