<div th:include="/layout/header"></div>
<style>
html, body {
	background: #fff;
}

.ts-forms .file-button {
	color: #fff;
	display: block;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 4px;
	z-index: 1;
}

.ts-forms .file-button input {
	bottom: -1px;
	font-size: 34px;
	opacity: 0;
	position: absolute;
	width: 108px;
	z-index: 0;
}
</style>
<div class="single-pro-review-area mt-t-30 mg-b-15">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="profile-info-inner">
					<div class="profile-img">
						<img th:src="@{'/images/'+${admin.photosImagePath}}" alt=""
							id="blah" />
					</div>
					<div class="profile-details-hr">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
								<div class="address-hr">
									<p>
										<b>Name</b><br /> <span th:text="*{admin.name}"></span>
									</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
								<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
									<p>
										<b>Designation</b><br /> <span th:text="*{admin.designation}"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="address-hr">
									<p>
										<b>Email ID</b><br /> <span th:text="*{admin.email}"></span>
									</p>
								</div>
							</div>
							<br> <br> <br>
							<div class="col-lg-12">
								<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
									<p>
										<b>Phone</b><br /> <span th:text="*{admin.mobileNo}"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="address-hr">
									<p>
										<b>Address</b><br /> <span th:text="*{admin.address}"></span>,
										<span th:text="*{admin.city}"></span>, <span
											th:text="*{admin.state}"></span> <span
											th:text="*{admin.pincode}"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<h3>500</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<h3>900</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<h3>600</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div
					class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
					<ul id="myTabedu1" class="tab-review-design">

						<li class="active"><a href="#reviews"> Biography</a></li>
						<li><a href="#INFORMATION">Update Details</a></li>
					</ul>
					<div id="myTabContent" class="tab-content custom-product-edit">
						<div class="product-tab-list tab-pane fade active in" id="reviews">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="review-content-section">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
												<div class="address-hr biography">
													<p>
														<b>Full Name</b><br /> <span th:text="*{admin.name}"></span>
													</p>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
												<div class="address-hr biography">
													<p>
														<b>Mobile</b><br /> <span th:text="*{admin.mobileNo}"></span>
													</p>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
												<div class="address-hr biography">
													<p>
														<b>Email</b><br /> <span th:text="*{admin.email}"></span>
													</p>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
												<div class="address-hr biography">
													<p>
														<b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Location</b><br />
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
															th:text="*{admin.country}"></span>
													</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="content-profile">
													<p>Donec pede justo, fringilla vel, aliquet nec,
														vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
														a, venenatis vitae, justo. Nullam dictum felis eu pede
														mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
														elementum semper nisi. Aenean vulputate eleifend tellus.
														Aenean leo ligula, porttitor eu, consequat vitae, eleifend
														ac, enim.</p>
													<p>Donec pede justo, fringilla vel, aliquet nec,
														vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
														a, venenatis vitae, justo. Nullam dictum felis eu pede
														mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
														elementum semper nisi. Aenean vulputate eleifend tellus.
														Aenean leo ligula, porttitor eu, consequat vitae, eleifend
														ac, enim.</p>
													<p>Donec pede justo, fringilla vel, aliquet nec,
														vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
														a, venenatis vitae, justo. Nullam dictum felis eu pede
														mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
														elementum semper nisi. Aenean vulputate eleifend tellus.
														Aenean leo ligula, porttitor eu, consequat vitae, eleifend
														ac, enim.</p>
												</div>
											</div>
										</div>
										<div class="row mg-b-15">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														<div class="skill-title">
															<h2>Skill Set</h2>
															<hr />
														</div>
													</div>
												</div>
												<div class="progress-skill">
													<h2>Java</h2>
													<div class="progress progress-mini">
														<div style="width: 90%;"
															class="progress-bar progress-yellow"></div>
													</div>
												</div>
												<div class="progress-skill">
													<h2>Php</h2>
													<div class="progress progress-mini">
														<div style="width: 80%;"
															class="progress-bar progress-green"></div>
													</div>
												</div>
												<div class="progress-skill">
													<h2>Apps</h2>
													<div class="progress progress-mini">
														<div style="width: 70%;"
															class="progress-bar progress-blue"></div>
													</div>
												</div>
												<div class="progress-skill">
													<h2>C#</h2>
													<div class="progress progress-mini">
														<div style="width: 60%;" class="progress-bar progress-red"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mg-b-15">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														<div class="skill-title">
															<h2>Education</h2>
															<hr />
														</div>
													</div>
												</div>
												<div class="ex-pro">
													<ul>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="row mg-b-15">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														<div class="skill-title">
															<h2>Experience</h2>
															<hr />
														</div>
													</div>
												</div>
												<div class="ex-pro">
													<ul>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														<div class="skill-title">
															<h2>Subjects</h2>
															<hr />
														</div>
													</div>
												</div>
												<div class="ex-pro">
													<ul>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
														<li><i class="fa fa-angle-right"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit.</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-tab-list tab-pane fade" id="INFORMATION">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="review-content-section">
										<form action="./updateProfile" method="post"
											enctype="multipart/form-data">
											<div class="row">
												<div class="col-lg-6">
													<input type="hidden" name="id" th:value="${admin.id}"
														required class="form-control">
													<div class="form-group">
														<input type="text" th:field="*{admin.name}"
															class="form-control" placeholder="Full Name">
													</div>

													<div class="form-group">
														<input type="text" th:field="*{admin.address}"
															class="form-control" placeholder="Address">
													</div>

													<div class="form-group">
														<input type="text" th:field="*{admin.designation}"
															class="form-control" placeholder="Designation">
													</div>
													<div class="form-group">
														<input type="number" th:field="*{admin.pincode}"
															class="form-control" placeholder="Pincode">
													</div>
													<div class="file-upload-inner ts-forms">
														<div class="input prepend-big-btn">

															<div class="file-button">
																Browse <input type="file" name="image" id="userImage"
																	accept="image/png, image/jpeg"
																	onchange="readURL(this);">
															</div>
															<input type="text" id="prepend-big-btn"
																placeholder="no file selected">
														</div>
													</div>
												</div>
												<div class="col-lg-6">

													<div class="form-group">
														<input type="hidden" name="id" th:field="*{admin.gender}"
															required class="form-control">
														<!-- <select class="form-control">
														<option 
															th:text="*{admin.gender}"></option>
															<option>Male</option>
															<option>Female</option>
													</select> -->
														<input type="text" th:field="*{admin.email}"
															class="form-control" placeholder="Email">
													</div>
													<div class="form-group">
														<input type="text" th:field="*{admin.country}"
															class="form-control" placeholder="Country">
													</div>
													<div class="form-group">
														<input type="text" th:field="*{admin.state}"
															class="form-control" placeholder="State">
													</div>
													<div class="form-group">
													<input type="text" th:field="*{admin.city}"
															class="form-control" placeholder="City">	
													</div>

													<input type="number" th:field="*{admin.mobileNo}"
														class="form-control" placeholder="Mobile no.">
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-lg-12">
													<div class="payment-adress mg-t-15">
														<button type="submit"
															class="btn btn-primary waves-effect waves-light mg-b-15">Submit</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div th:include="/layout/footer"></div>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
	var imageName = $("#userImage").val();
	var filename = imageName.replace(/^.*[\\\/]/, '')
	
	$('#prepend-big-btn')
    reader.onload = function (e) {
      $('#blah').attr('src', e.target.result).width(300).height(280);
      
      
    };
	
	$('#prepend-big-btn').val(filename);
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
