<div th:include="/layout/header"></div>
<link rel="stylesheet" th:href="@{/css/routine/timetable.css}">
<style>
html, body {
	background: #fff;
}

.container {
	width: 850px;
}
</style>

<div class="container" id="body">
	<div class="timetable-img text-center">
		<img th:src="@{/img/favicon.ico}" alt="">
		<img th:src="@{/images/dps-jaipur-school-logo.png}" alt="" style="background-color: #144028;width: 21%;">
	</div>
	<div class="col-sm 12">
		<div class="col-sm 6" style="margin-left: 221px;">
			Class <select
				class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
				id="ip2" name="subject"
				style="background-color: lightpink; width: 15%;" required>
				<option value="">Pick Class</option>
				<option th:each="type : ${subject}" th:value="${type.id}"
					th:text="${type.id}"></option>
			</select>
		</div>
		<div class="col-sm 6">
			<select
				class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
				id="ip2" name="subject"
				style="background-color: lightgreen; width: 14%; margin-left: 480px; margin-top: -28px;"
				required>
				<option value="">Select Section</option>
				<option th:each="type : ${subject}" th:value="${type.id}"
					th:text="${type.subjectName}"></option>
			</select>
		</div>
	</div>
	<br>
	<div class="table-responsive">
		<table class="table table-bordered text-center">
			<thead>
				<tr class="bg-light-gray">
					<th class="text-uppercase">Time</th>
					<th class="text-uppercase">Monday</th>
					<th class="text-uppercase">Tuesday</th>
					<th class="text-uppercase">Wednesday</th>
					<th class="text-uppercase">Thursday</th>
					<th class="text-uppercase">Friday</th>
					<th class="text-uppercase">Saturday</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-middle">09:00am</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${teacher}" th:value="${type.id}"
									th:text="${type.name}"></option>
						</select>
					</span></td>
				</tr>

				<tr>
					<td class="align-middle">10:00am</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
				</tr>

				<tr>
					<td class="align-middle">11:00am</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
				</tr>

				<tr>
					<td class="align-middle">12:00pm</td>
					<td class="bg-light-gray"><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
					<td><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
					<td><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
					<td><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
					<td class="bg-light-gray"><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
					<td><span
						class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
					</td>
				</tr>

				<tr>
					<td class="align-middle">01:00pm</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
				</tr>
				<tr>
					<td class="align-middle">02:00pm</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
				</tr>
				<tr>
					<td class="align-middle">03:00pm</td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
					<td><span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightskyblue; width: 57%;" required>
								<option value="">Select Subject</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span> <span> <select
							class="padding-5px-tb  border-radius-5 text-white font-size16  xs-font-size13"
							id="ip2" name="subject"
							style="background-color: lightyellow; width: 57%;" required>
								<option value="">Select Teacher</option>
								<option th:each="type : ${subject}" th:value="${type.id}"
									th:text="${type.subjectName}"></option>
						</select>
					</span></td>
				</tr>

			</tbody>
		</table>
		<button class="btn btn-primary" id="button" style="margin-left: 87%;"><i class="fa fa-download"></i> Download</button>
	</div>
</div>
</div>
</div><br><br>
<div th:include="/layout/footer"></div>
<script>
const btn = document.getElementById("button");
btn.addEventListener("click", function(){
var element = document.getElementById('body');
html2pdf().from(element).save('Routine.pdf');
});
</script>
