<div th:include="/layout/header"></div>
<style>
html, body {
    background: #fff;
}
#loginHeading {
	color: lightblue;
	text-align: center;
	background: #144028;
	border-radius: 8px;
    border-style: double;
}

.textlevel  {
    line-height: 1.5;
    font-family: system-ui;
}
.box {
        width: 30%;
        height: 200px;
        border: 5px dashed #f7a239;
      }
.row {
margin-right: 0px;
}      
</style>

		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1 class="mystyle" id="loginHeading">Edit Student</h1>
				<form th:action="@{/admin/update}" method="post" id="quickForm"
					enctype="multipart/form-data">
					<div class="form-group" style="display: none">
						<label for="name">STUDENT ID:</label> <input type="text"
							th:field="*{studentinfo.id}" name="id" class="form-control"
							id="studentId" required placeholder="Enter student id">
					</div>
					<div>
						<div class="form-group">



							<div class="col-sm-9">
								<div class="form-group">
									<label for="name">Name :</label> <input type="text"
										th:field="*{studentinfo.name}" name="name"
										class="form-control" id="name" required
										placeholder="Enter name"><span
										class="validation-message" id="nameSpan"></span>
								</div>
								<div class="form-group">
									<label for="name">Standard :</label> <input type="text"
										th:field="*{studentinfo.standard}" name="standard"
										class="form-control" id="standard" required
										placeholder="Enter standard"><span
										class="validation-message" id="roleSpan"></span>
								</div>
								<div class="form-group">
									<label for="name">Mobile No. :</label> <input type="text"
										th:field="*{studentinfo.mobileNo}" name="mobileNo"
										class="form-control" id="mobileNo" required
										placeholder="Enter mobile no."><span
										class="validation-message" id="passSpan"></span>
								</div>
								<div class="form-group">
									<label for="name">Email :</label> <input type="text"
										th:field="*{studentinfo.email}" name="email"
										class="form-control" id="email" required
										placeholder="Enter email address"><span
										class="validation-message" id="emailSpan"></span>
								</div>


							</div>

							<div class="col-sm-3">
								<img th:src="@{'/images/'+${studentinfo.photosImagePath}}"
									id="blah" style="width: 100%;" />
									 <input type="file" name="image" accept="image/png, image/jpeg" onchange="readURL(this);"/>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block" onclick="confirm_update()" id="change">Submit</button>
				</form>

			</div>

			<div class="col-sm-3"></div>
		</div>
	</div>
	</div>
<div th:include="/layout/footer"></div>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#blah').attr('src', e.target.result).width(150).height(200);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
function confirm_update(){
var name = document.getElementsByName('name')[0].value;
var standard = document.getElementsByName('standard')[0].value;
var mobileNo = document.getElementsByName('mobileNo')[0].value;
var email = document.getElementsByName('email')[0].value;
if (standard != "" && name != "" && mobileNo!="" && email != "") {
			$('#change').attr('disabled', 'disabled');
			$('#quickForm').submit();
		} else {
			
			if (name == "")
				$('#nameSpan').text("*Please provide your name");
			if (standard == "")
				$('#roleSpan').text("*Please provide class number.");
			if (mobileNo == "")
				$('#passSpan').text("*Please provide mobile number");
			if (email == "")
				$('#emailSpan').text("*Please provide a email");
			
		}

}
</script>
